[submodule "Assignments/Implementations/8_team-implementation-code"]
	path = Assignments/Implementations/8_team-implementation-code
	url = https://github.com/ottomattas/INFOMAIGT-PCG.git
[submodule "Assignments/INFOMAIGT-AGENTS"]
	path = Assignments/INFOMAIGT-AGENTS
	url = https://github.com/ottomattas/INFOMAIGT-AGENTS
[submodule "Assignments/INFOMAIGT-PCG"]
	path = Assignments/INFOMAIGT-PCG
	url = https://github.com/ottomattas/INFOMAIGT-PCG.git
